/*Main Background Color*/
html{
  background-color: lightblue;
}

/*Main font (for body), eliminating top margin*/
body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Font for h1 */
h1{
  font-family: 'Roboto Condensed', sans-serif;
}

ul{
  list-style: none;
  padding: 0;
}

/* Text Color */
a{
  color: #ffffff;
  text-decoration: none;
}

/*nav-wrapper color*/
.nav-wrapper{
  background-color: rgba(100, 150, 200, 1);
  height: 60px;
  position: fixed;
  left:0;
  right:0;
  top:0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* defining properties for navbar*/
.navbar{
  margin:0 auto;
  max-width: 500px;
  display: flex;
}

/* Also centers the titles */
.nav-item{
  display: inline-block;
  flex-grow: 1;
  text-align: center;
  position: relative;
}

/* Centers the titles */
.nav-item a {
  text-transform: uppercase;
  padding: 10px;
  display: inline-block;
  margin: 10px;
  position: relative;
}

/* Defined the shape of the underline */
.nav-item > a:after{
  content: "";
  display: none;
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: #fff;
  left: calc(50% - 25px);
  bottom: 0;
}

/* Displays the underline specified above upon hover*/
.nav-item a:hover:after {
  display: block;
}

/*making dropdown appear*/
.dropdown-menu{
  display: block;
  background-color: #ffffff;
  position: absolute;
  top: 63px;
  left: -43px;
  width: 200px;
  text-align: left;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 5px 0;
  transform-origin: top center;;
  transform: scale(0);
  transition: transform ease-in-out 500ms;
}

/*Adding hover box (grey) on dropdown menu*/
.dropdown-item a {
  color: #777777;
  display:block;
  margin: 0;
}

.dropdown-item a:hover {
  background-color: #ccc
}

/*formatting for name and stuff*/
#header {
  text-align: center;
  background-color: lightblue;
  height: calc(100vh - 60px);
  box-sizing: border-box;
  margin-top: 60px;
  padding-top: calc(50vh - 100px)
}

.title{
  font-weight: 700;
  color: #000000;
}

.subtitle{
  font-weight: 500;
  color: #808080;
  text-transform: uppercase;
}

.dropdown-menu.open{
    transform: scale(1);
}

.section{
  padding-top: 80px;
  color: #000000;
  margin: 30px;
}
