html{
  background-color: lightblue;
}

body{
  margin: 0;
}

ul{
  list-style: none;
  padding: 0;
}

a{
  color: #ffffff;
  text-decoration: none;
}

.nav-wrapper{
  background-color: rgba(100, 150, 200, .5);
}

.navbar{
  margin:0 auto;
  width: 500px;
}

.nav-item{
  display: inline-block;
}

.dropdown-menu{
  display: none;
}
